<ion-view view-title="Welcome">
  <ion-content>

  	<div class="card">
  	<div class="item item-text-wrap">

  		<div style="text-align:center; margin: 10px">
			<img src="img/engage.png" style="width:200px" />
		</div>

	    <p>Work on one thing at a time. Don't get carried away - we have plenty of time. Maybe we got a few little happy bushes here, just covered with snow. Steve wants reflections, so let's give him reflections.</p>

		<p>Don't forget to tell these special people in your life just how special they are to you. Have fun with it. We artists are a different breed of people. We're a happy bunch. All you need to paint is a few tools, a little instruction, and a vision in your mind. Just make a decision and let it go. I really believe that if you practice enough you could paint the 'Mona Lisa' with a two-inch brush.</p>

		<p>Van Dyke Brown is a very nice brown, it's almost like a chocolate brown. The least little bit can do so much. I guess that would be considered a UFO. A big cotton ball in the sky.</p>

	</div>
	</div>


  </ion-content>
</ion-view>
